.btn-mobile-nav {
  display: none;

  border: none;
  background: none;
  cursor: pointer;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}
